*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	font-family: 'Open Sans', sans-serif;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	height: auto;
}

input,
button,
textarea,
select {
	font-family: inherit;
}

button {
	border: none;
	cursor: pointer;
}

textarea {
	resize: vertical;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

section {
	scroll-margin-top: 7rem;
}

// nav

.navbar {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	min-height: 80px;
	background-color: #fff;
	z-index: 1000;
}

.nav-branding {
	color: #000;
	font-size: 2.5rem;
}

.nav-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-link {
	padding: 3rem;
	color: #000;
	font-size: 1.5rem;
	transition: 0.3s ease-out;
}

.hamburger {
	display: none;
	cursor: pointer;
}

.bar {
	display: block;
	margin: 5px auto;
	width: 25px;
	height: 3px;
	background-color: #000;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

//header

.header {
	position: relative;

	.hero-img {
		position: relative;
		width: 100%;
		height: 57rem;
		background-size: cover;
		background-position: center;
		background-image: url('dist/img/jungle-big.jpg');
		z-index: 0;

		.hero-shadow {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgb(0, 0, 0, 0.7);
			z-index: -5;
		}
	}

	.hero-text {
		position: absolute;
		top: 50%;
		left: 50%;
		color: #fff;
		transform: translate(-50%, -50%);

		&__h1 {
			font-weight: 100;
		}

		p {
			font-size: 3rem;
			font-weight: bold;
		}
	}
}

// main

.hero-section {
	position: relative;
	margin-top: 10rem;

	.hero-section-img {
		position: relative;
		width: 100%;
		height: 30rem;
		background-size: cover;
		background-position: center;
		background-image: url('dist/img/girl-big.jpg');
		z-index: 0;

		.hero-shadow {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgb(0, 0, 0, 0.7);
			z-index: -5;
		}
	}

	.hero-frame {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 70rem;
		height: 10rem;
		border: 1px solid #fff;
		transform: translate(-50%, -50%);

		.hero-text-h4 {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: #fff;
			font-size: 3rem;
			font-weight: bold;
			text-wrap: nowrap;
		}
	}
}

//media

@media (min-width: 150px) and (max-width: 500px) {
	.hero-section {
		position: relative;

		.hero-section-img {
			position: relative;
			height: 30rem;
			width: 100%;
			background-size: cover;
			background-position: center;
			background-image: url('dist/img/girl-small.jpg');
			z-index: 0;

			.hero-shadow {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgb(0, 0, 0, 0.7);
				z-index: -5;
			}
		}

		.hero-frame {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 20rem;
			height: 10rem;
			padding: 1rem 12rem;
			border: 1px solid #fff;
			transform: translate(-50%, -50%);

			.hero-text-h4 {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				color: #fff;
				font-size: 1.2rem;
				font-weight: bold;
				text-wrap: nowrap;
			}
		}
	}
}

@media (min-width: 150px) and (max-width: 769px) {
	.hamburger {
		display: block;
	}

	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}
	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(405deg);
	}
	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-405deg);
	}

	.navbar {
		position: fixed;
		top: 0;
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 100%;
		min-height: 70px;
		background-color: #fff;
		z-index: 1000;
	}

	.nav-menu {
		position: fixed;
		top: 70px;
		left: -100%;
		flex-direction: column;
		width: 100%;
		height: 50rem;
		gap: 0;
		background-color: rgb(255, 255, 255);
		text-align: center;
		transition: 0.3s;
		z-index: 100;
	}

	.nav-item {
		a {
			color: #000;
			font-size: 3rem;
		}
	}

	.nav-menu.active {
		left: 0;
	}

	.header {
		.hero-text {
			text-align: center;
		}

		.hero-img {
			background-image: url('dist/img/jungle-small.jpg');
		}
	}

	.about-us {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.water-img {
			position: relative;
			top: 10rem;
			left: 50%;
			height: 20rem;
			max-width: 100%;
			background-size: cover;
			background-position: center;
			transform: translate(-50%, -50%);
		}

		&__text {
			margin: 4rem 0;
			font-size: 3rem;
			font-weight: 100;
		}

		.box-text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			margin: 2rem 5rem;

			h3 {
				margin: 1rem 0;
				font-size: 1.3rem;
			}
		}
	}

	.section-title {
		margin: 2rem 0;
		text-align: center;
		font-size: 3rem;
		font-weight: 100;
	}

	.offer-title {
		margin: 2rem 0;
		text-align: center;
		font-size: 1.3rem;
	}

	.box {
		width: 100%;
		margin-bottom: 20px;
		padding: 20px;
		text-align: center;
		box-shadow: 2px 5px 10px 5px rgba(0, 0, 0, 0.3);

		h6 {
			font-size: 2rem;
			font-weight: 400;
		}

		.price {
			font-size: 2.3rem;
			font-weight: bold;
		}

		.option {
			margin-top: 0.5rem;
			font-size: 1.3rem;
		}

		p,
		i {
			display: inline-block;
		}

		.fa-solid {
			margin-right: 0.2rem;
		}

		.fa-check {
			color: #2ade72;
		}

		.fa-minus {
			color: #969696;
		}
	}

	.choose-btn {
		margin-top: 2rem;
		padding: 0.5rem 5rem;
		width: 100%;
		text-align: center;
		font-size: 1.8rem;
		font-family: 'Rethink Sans', sans-serif;
		font-weight: 200;
		border: none;
		box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.3);
		border-radius: 0.5rem;
		color: #696969;
		cursor: pointer;
	}

	.clicked {
		background-color: #2ade72;
		box-shadow: 2px 3px 5px 2px rgba(42, 222, 114, 0.3);
		color: #000;
	}

	.link-container {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.offer-link {
		display: inline-block;
		justify-content: center;
		margin: 0rem 2rem 2rem 2rem;
		padding: 0.5rem 5rem;
		width: 100%;
		border: none;
		box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.3);
		border-radius: 0.5rem;
		text-align: center;
		font-size: 1.8rem;
		font-family: 'Rethink Sans', sans-serif;
		font-weight: 200;
		cursor: pointer;

		color: #696969;

		&:hover {
			background-color: #2ade72;
			box-shadow: 2px 3px 5px 2px rgba(42, 222, 114, 0.3);
			color: #000;
		}
	}

	.contact {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding-top: 2rem;
		padding-bottom: 2rem;
		background-color: #f5f5f5;
		border-top: 1px solid #939393;

		.nav-branding {
			display: none;
		}

		.about-us-contact,
		.our-company-contact,
		.documents-contact {
			display: flex;
			flex-direction: column;
			gap: 2rem;
		}

		.line {
			height: 0.1rem;
			width: 100%;
			background-color: #000;
			margin-top: -2rem;
		}

		p {
			font-size: 2rem;
			margin-top: 3rem;
		}

		a {
			font-size: 1.2rem;
			color: #696969;
		}
	}

	.footer {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10px;
		height: 5rem;
		background-color: #f5f5f5;
		border-top: 1px solid #939393;

		p {
			text-align: center;
			color: #696969;
		}
	}

	.contact-container {
		text-align: center;
		margin-top: 10rem;

		h1 {
			font-size: 3rem;
			font-weight: 100;
		}

		.contact-form {
			display: flex;
			margin: 5rem;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			font-family: 'Rethink Sans', sans-serif;

			label {
				font-size: 1.5rem;
				margin-top: 2rem;
				margin-bottom: -0.5rem;
				color: #696969;
			}

			input {
				margin-top: 1rem;
				padding: 1rem;
				width: 20rem;
				height: 5rem;
				border-radius: 1rem;
				border: none;
				box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.3);
				color: #696969;
				font-size: 1.2rem;
			}

			.choose-btn-send {
				margin-top: 1rem;
				height: 5rem;
				font-size: 1.8rem;
				font-family: 'Rethink Sans', sans-serif;
				font-weight: 200;
				border: none;
				box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.3);
				border-radius: 1rem;
				color: #696969;
				cursor: pointer;
			}

			.clicked {
				background-color: #2ade72;
				box-shadow: 2px 3px 5px 2px rgba(42, 222, 114, 0.3);
				color: #000;
			}

			textarea {
				margin-top: 1rem;
				width: 20rem;
				border-radius: 1rem;
				border: none;
				box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.3);
				padding: 1rem;
				color: #696969;
				font-size: 1.2rem;
			}
		}

		iframe {
			margin-bottom: -3px;
			height: 30rem;
			width: 100%;
		}
	}

	.our-offers {
		display: flex;
		flex-direction: column;
		text-align: center;

		h1 {
			margin: 8rem 0rem;
			font-size: 3rem;
			font-weight: 100;
		}

		h2 {
			font-weight: 100;
			font-size: 2rem;
			margin-bottom: 2rem;
		}

		img {
			width: 100%;
			height: 20rem;
			object-fit: cover;
			background-position: center;
		}

		p {
			margin: 2rem 2rem;
		}
	}
}

@media (min-width: 500px) and (max-width: 990px) {
	.hero-section {
		.hero-frame {
			position: absolute;
			top: 50%;
			left: 50%;
			height: 10rem;
			width: 40rem;
			border: 1px solid #fff;
			transform: translate(-50%, -50%);

			.hero-text-h4 {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				color: #fff;
				font-size: 2rem;
				font-weight: bold;
				text-wrap: nowrap;
			}
		}
	}
}

@media (min-width: 770px) {
	.nav-link:hover {
		background-color: #000;
		color: #fff;
	}

	.about-us {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&__text {
			font-size: 3rem;
			font-weight: 100;
			margin: 5rem 0;
		}

		&__box {
			display: flex;
			justify-content: center;
			flex-direction: row;
			margin: 0 5rem;

			.box-text {
				max-width: 50rem;

				h3 {
					font-size: 1.5rem;
				}

				.about-us-main-text {
					font-size: 1.2rem;
					font-weight: 100;
				}
			}

			.water-img {
				margin-top: 4px;
				margin-right: 4rem;
				height: 20rem;
				max-width: 100%;
			}
		}
	}

	.section-title {
		margin: 2rem 0;
		text-align: center;
		font-size: 3rem;
		font-weight: 100;
	}

	.offer-title {
		margin: 2rem 0;
		text-align: center;
		font-size: 1.3rem;
	}

	.container {
		display: flex;
		justify-content: space-around;
		padding: 20px;

		.box {
			width: 30%;
			height: 30rem;
			margin-bottom: 20px;
			padding: 20px;
			text-align: center;
			border-radius: 0.5rem;
			box-shadow: 2px 5px 10px 5px rgba(0, 0, 0, 0.3);

			.option {
				margin-top: 0.5rem;
				font-size: 1.3rem;
			}

			h6 {
				font-size: 2rem;
				font-weight: 400;
			}

			.price {
				font-size: 2.3rem;
				font-weight: bold;
			}

			p,
			i {
				display: inline-block;
			}

			.fa-solid {
				margin-right: 0.2rem;
			}

			.fa-check {
				color: #2ade72;
			}

			.fa-minus {
				color: #969696;
			}
		}

		.choose-btn {
			margin-top: 3rem;
			padding: 0.5rem 5rem;
			text-align: center;
			font-size: 1.8rem;
			font-family: 'Rethink Sans', sans-serif;
			font-weight: 200;
			border: none;
			box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.3);
			border-radius: 0.5rem;
			color: #696969;
			cursor: pointer;
		}

		.clicked {
			background-color: #2ade72;
			box-shadow: 2px 3px 5px 2px rgba(42, 222, 114, 0.3);
			color: #000;
		}
	}

	.link-container {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.offer-link {
		display: inline-block;
		margin: 0rem 3rem 3rem 3rem;
		padding: 0.5rem 5rem;
		width: 100%;
		justify-content: center;
		text-align: center;
		font-size: 1.8rem;
		font-family: 'Rethink Sans', sans-serif;
		font-weight: 200;
		border: none;
		box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.3);
		border-radius: 0.5rem;
		cursor: pointer;

		color: #696969;

		&:hover {
			background-color: #2ade72;
			box-shadow: 2px 3px 5px 2px rgba(42, 222, 114, 0.3);
			color: #000;
		}
	}

	.contact {
		display: flex;
		padding-top: 2rem;
		padding-bottom: 2rem;
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;
		background-color: #f5f5f5;
		border-top: 1px solid #939393;

		.about-us-contact,
		.our-company-contact,
		.documents-contact {
			display: flex;
			margin-left: 10rem;
			flex-direction: column;
			gap: 0.4rem;

			a {
				font-size: 1.2rem;
				color: #696969;
			}
		}

		p {
			font-size: 1.5rem;
			font-weight: bold;
		}
	}

	.footer {
		display: flex;
		height: 3%;
		align-items: center;
		justify-content: center;
		background-color: #f5f5f5;
		border-top: 1px solid #939393;

		p {
			text-align: center;
			color: #696969;
		}
	}

	.contact-container {
		text-align: center;
		margin-top: 6rem;

		h1 {
			font-size: 3rem;
			font-weight: 100;
		}

		.contact-form {
			display: flex;
			flex-direction: column;
			margin: 10rem;
			text-align: start;
			font-family: 'Rethink Sans', sans-serif;

			label {
				font-size: 1.5rem;
				margin-top: 2rem;
				margin-bottom: -0.5rem;
				color: #696969;
			}

			input {
				margin-top: 1rem;
				border-radius: 1rem;
				height: 5rem;
				border: none;
				box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.3);
				padding: 1rem;
				color: #696969;
				font-size: 1.8rem;
			}

			.choose-btn-send {
				font-size: 1.8rem;
				font-family: 'Rethink Sans', sans-serif;
				font-weight: 200;
				border: none;
				box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.3);
				border-radius: 1rem;
				height: 5rem;
				color: #696969;
				margin-top: 1rem;
				cursor: pointer;
			}

			.clicked {
				background-color: #2ade72;
				box-shadow: 2px 3px 5px 2px rgba(42, 222, 114, 0.3);
				color: #000;
			}

			textarea {
				margin-top: 1rem;
				border-radius: 1rem;
				border: none;
				box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.3);
				padding: 1rem;
				color: #696969;
				font-size: 1.8rem;
			}
		}

		iframe {
			margin-bottom: -3px;
			height: 30rem;
			width: 100%;
		}
	}

	.our-offers {
		justify-content: center;
		text-align: center;
		height: 100%;

		.offers-boxes {
			display: flex;
			flex-direction: row;
			text-align: center;
		}

		h1 {
			margin: 8rem 0rem;
			font-size: 3rem;
			font-weight: 100;
		}

		h2 {
			font-weight: 100;
			font-size: 2rem;
			margin-bottom: 2rem;
		}

		img {
			width: 80%;
			height: 20rem;
			object-fit: cover;
			background-position: center;
		}

		p {
			margin: 2rem 2rem;
		}
	}
}
